<h1>Members</h1>
<p>Membership count: <%= members.count %></p>
<% if members.empty? %>
  <p>There are no members registered yet.</p>
<% else %>
    <table>
      <tbody>
        <tr style="border-bottom: 2px solid black; background-color: #ddd;">
          <th style="maring-right: 5px;">Company</th>
          <th>Membership</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <!-- <th>Phone</th> -->
          <th>Join Date</th>
        </tr>
        <% members.each do |member| %>
          <tr>
            <td><%= "#{member.company}" %></td>
            <td><%= "#{member.membership_type_id}" %></td>
            <td><%= "#{member.first_name}" %></td>
            <td><%= "#{member.last_name}" %></td>
            <td><%= "#{member.email_address}" %></td>
            <!-- <td><%= "#{member.phone_number}" %></td> -->
            <td><%= "#{member.joined_at}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<br/>
<% if admin? %>
  <form action='/members' method='POST' style='float: left;'>
    <h2>[Input a new member]</h2><br/>
    <strong>Company: </strong><br><input type='text' name='member[company]'/><br/>
    <strong>Member Type: </strong><br><input type='text' name='member[member_type]'/><br/>
    <strong>First Name:</strong><br><input type='text' name='member[first_name]'/><br/>
    <strong>Last Name: </strong><br><input type='text' name='member[last_name]'/><br/>
    <strong>Email: </strong><br><input type='text' name='member[email_address]'/><br/>
    <strong>Phone Number: </strong><br><input type='text' name='member[phone_number]'/><br/></br>
    <input type='submit' value='Add Member'/>
  </form>
<% end %>
