<div style='float: left; width: 60%'>
  <div style='float: left; width: 50%'>
  <%= erb :page_content, locals: {content: content} %>
  <%= erb :membership_types_table, locals: {member_types: member_types} %>
  <%= erb :add_member_type_form %>
</div>
<%= erb :reserve_room_form %>
<%= erb :current_reservation_list, locals: {reservations: reservations} %>
