<div style='float: left; width: 60%'>
  <br/>
  <h1>Events at UnCubed</h1>
  <br/>
  <h3>Have an event you'd like us to know about?</h3>
    <a href="/event_login">Click Here</a> 
    <br/><hr/>

  <h1>Upcoming Events</h1>
  <br/>
  <ul>
    <% events.each do |event| %>
      <li>
        <h2><b><%= event[:company] %></b></h2>
            <b><%= event[:title] %></b>
            <br/>
         Date: <%= event[:date] %> 
         Time: <%= event[:time] %>
            <br/>
     Location: <%= event[:location] %>
            <br/>
      Details: <%= event[:details] %>
            <br/>
            <br/>
      </li>
    <% end %>
  </ul>
</div>